<?xml version="1.0"?>
<model>
  <name>so_arm100_description</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>SO-ARM100 Team</name>
    <email>info@so-arm100.com</email>
  </author>

  <description>
    SO-ARM100 5-DOF robotic arm description package
  </description>
</model>